#signup {
    padding-bottom: 90px;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60vh;

        form {
            width: 60%;
        }

        .content {
            
            .input-group {
                display: flex;
                gap: 20px;
                padding-bottom: 0px;
                margin:0px;

                input {
                    height: 40px;
                    width: 100%;
                    border: 1px solid $gray-500;
                    border-radius: 5px;
                    padding: 5px 10px;
                }
            }
        }
    }
}
